<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/cloud.jpg">
    <title>404 ERROR</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    {{Message}}
    
    {{>footer}}

</body>
</html>