<!DOCTYPE html>
<html>

<head>
    <title> About Page</title>
    <link rel="icon" href="/img/cloud.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <p> This Weather app is a test app of Xtermly Talented's skills</p>
    <img class="portrait" src="/img/01.jpeg">
    <p> Created by {{name}}</p>

    {{>footer}}

</body>
</html>