<!DOCTYPE html>
<html>

<head>
    <title> Help Page</title>
    <link rel="icon" href="/img/cloud.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     
    {{>header}}

    <p> I never asked for help. so kindly ask someone else.</p>
    <p>{{Message}}</p>
    <p> There is an old saying feom long ago, which i used to hear a lot. you can trut that yourself:</p>
    <p>{{help}}</p>

    {{>footer}}

</body>
</html>